<div class="d-flex align-items-center gap-2 rounded border" [ngClass]="isDark ? 'bg-transparent border-secondary is-dark-theme' : 'bg-white text-dark'">
  @if (iconPosition === 'left') {
    <span class="material-symbols-outlined ms-2">{{ icon }}</span>
  }
  <input
    [type]="inputType"
    [(ngModel)]="model"
    (ngModelChange)="onInputChange($event)"
    class="form-control border-0 rounded-0 bg-transparent shadow-none"
    [ngClass]="[ iconPosition == 'left' ? 'rounded-end' : '', iconPosition == 'right' ? 'rounded-start' : '', isDark ? 'text-white is-dark-placeholder' : 'text-dark' ]"
    [placeholder]="placeholder"
  >
  @if (iconPosition === 'right') {
    <span class="material-symbols-outlined me-2">{{ icon }}</span>
  }
</div>
