<div>
  <div class="d-flex align-items-center gap-2 rounded border" [ngClass]="isDark ? 'bg-transparent border-secondary is-dark-theme' : 'bg-white text-dark'">
    @if (iconPosition === 'left') {
      <span class="material-symbols-outlined ms-2">{{ icon }}</span>
    }
    @if (iconPosition === 'right') {
      <span class="small fw-bold text-secondary mx-2" (click)="toggleInputType()" style="cursor: pointer;">
        {{ inputType === 'password' ? 'txt_show' : 'txt_hide' }}
      </span>
    }
    <input
      [type]="inputType"
      [value]="value"
      (input)="onInputChange($event)"
      class="form-control border-0 rounded-0 bg-transparent shadow-none"
      [ngClass]="[ isDark ? 'text-white is-dark-placeholder' : 'text-dark' ]"
      [placeholder]="placeholder">
    @if (iconPosition === 'right') {
      <span class="material-symbols-outlined me-2">{{ icon }}</span>
    }
    @if (iconPosition === 'left') {
      <span class="material-symbols-outlined me-2" (click)="toggleInputType()" style="cursor: pointer;">
        {{ inputType === 'password' ? 'visibility' : 'visibility_off' }}
      </span>
    }
  </div>

  @if (passwordError) {
    <small class="text-danger">* {{ passwordError }}</small>
  }
</div>
